@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 11%;
  --foreground: 0 0% 100%;
  --card: 0 0% 16%;
  --card-foreground: 0 0% 100%;
  --popover: 0 0% 16%;
  --popover-foreground: 0 0% 100%;
  --primary: 174 45% 51%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 16%;
  --secondary-foreground: 0 0% 100%;
  --muted: 0 0% 16%;
  --muted-foreground: 0 0% 64%;
  --accent: 0 0% 16%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 16%;
  --input: 0 0% 16%;
  --ring: 174 45% 51%;
  --radius: 0.75rem;
}


@keyframes slide-up {
  from {
    transform: translateY(100%); /* Start from below */
    opacity: 0; /* Start invisible */
  }
  to {
    transform: translateY(0); /* End at original position */
    opacity: 1; /* End visible */
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out forwards; /* Adjust duration and easing as needed */
}